<header class="post-header">
    <h1 class="post-title">{{ page.project }}</h1>
    {{ headerimage }}
</header>

{{ project_description }}

<h2>Development status</h2>

<a href="https://github.com/{{site.github_username}}/{{page.project_github}}">github project</a>

current dev status until next release: <img src="{{ page.project_devstatus }}" alt="">

<table>
    <tr><th>deployment branch</th><th>current release</th><th>status</th></tr>
    {%- if page.bage_internal != blank -%}
        <tr><td>internal test </td>
        <td> N/A </td>
        <td><img src="{{ page.badge_internal }}" alt=""></td></tr>
    {%- endif -%}

    {%- if page.bage_closedAlpha != blank -%}
        <tr><td>closed alpha  </td>
        <td> N/A </td>
        <td><img src="{{ page.badge_closedAlpha }}" alt=""></td></tr>
    {%- endif -%}

    {%- if page.bage_openBeta != blank -%}
        <tr><td>open beta </td>
        <td> N/A </td>
        <td><img src="{{ page.badge_openBeta }}" alt=""></td></tr>
    {%- endif -%}

    {%- if page.bage_production != blank -%}
        <tr><td>production</td>
        <td> N/A </td>
        <td><img src="{{ page.badge_production }}" alt=""></td></tr>
    {%- endif -%}

    
</table>


{{ legal }}